{% extends 'base.html' %}

{% block content %}
{% load static %}

<script src="{% static 'js/home.js' %}"></script>

<body>
    <div class='container'>
        <div class='row mt-3 justify-content-center'>
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h1>Webcam driver page</h1>
                <form action="{% url 'change_conf' %}" method="post">
                    {% csrf_token %}

                    <label class="mt-2">Resolution:</label>
                    <select class='form-control' name='resolution' id='resolution'>
                        <option value='800x600'>800x600</option>
                        <option value='640x480'>640x480</option>
                        <option value='400x300'>400x300</option>
                    </select>
                    
                    <label class="mt-2">Duration (Second):</label>
                    <input id="time" name="time" class="form-control" placeholder="time in seconds..." type="text">
                    
                    <button class="btn mt-2" type="submit">Start recording</button>
                </form>
                <h3 class="mt-3">Ping test</h3>
                <button type="submit" class="btn ping-button">Ping</button>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

    <div class="modal fade" id="response-modal" role="dialog">
        <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
            <div class="modal-body text-dark">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
            </div>
            
        </div>
    </div>
</body>

<script type="text/javascript">
    csrfToken = "{{ csrf_token }}";
    mainPage = "{% url 'home' %}"
</script>

{% endblock content %}
